browsercookie==0.7.7
certifi==2022.12.7
chardet==3.0.4
idna==2.10
importlib-metadata==5.2.0
jaraco.classes==3.2.3
keyring==23.13.1
lz4==4.0.2
more-itertools==9.0.0
pycryptodome==3.16.0
requests==2.24.0
selenium==3.141.0
urllib3==1.25.11
zipp==3.11.0
